<div class="main_content">
    <h1>Lista aziende</h1>
    <p-accordion (onOpen)="onTabOpen($event)">
        <p-accordionTab header="Carticol">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius sollicitudin
            odio sit amet fringilla. Mauris venenatis non lorem ac tempor. Nam dictum metus in
            ullamcorper suscipit. Donec at lorem mi. Ut id lacinia tellus, vel malesuada metus.
            Proin vel arcu hendrerit, commodo dui sit amet, pretium nunc. In erat odio, fermentum
            at semper a, cursus vel leo.
            <hr/>
            <button class="btn_accordion" pButton type="button" (click)="goToCalendar()" label="Accedi al calendario"></button>
        </p-accordionTab>
        <p-accordionTab header="Domuni">
            Quisque pulvinar lectus urna, vitae tempor urna fermentum non. Nulla placerat nunc quis
            urna tempus, ac auctor dui tempus. Donec nec massa eros. In augue leo, finibus vitae
            pellentesque eu, luctus ut risus. Quisque sollicitudin, urna sit amet ultricies consectetur,
            eros orci congue augue, ut tincidunt ligula quam sed ipsum. Sed suscipit semper dui,
            porttitor dictum dolor. Nullam mollis, enim nec imperdiet condimentum, augue ligula ultricies
            est, vel lacinia neque velit in purus. Sed nulla arcu, vehicula sit amet mollis et, porta
            nec est. In leo neque, eleifend nec condimentum id, fringilla a enim.
            <hr/>
            <button class="btn_accordion" pButton type="button" (click)="goToCalendar()" label="Accedi al calendario"></button>
        </p-accordionTab>
        <p-accordionTab header="Golas">
            Nulla lectus ligula, tempus volutpat sem ut, tincidunt rhoncus libero. Cras blandit auctor
            feugiat. Nulla tempor tellus eget neque ultrices, sit amet porta enim eleifend. Aliquam
            feugiat laoreet molestie. Fusce id enim eu neque sodales pulvinar. Quisque urna purus,
            faucibus nec dictum sit amet, scelerisque scelerisque sem.
            <hr/>
            <button class="btn_accordion" pButton type="button" (click)="goToCalendar()" label="Accedi al calendario"></button>
        </p-accordionTab>
        <p-accordionTab header="Primule">
            Quisque id nulla pharetra, vulputate nisl ac, aliquet nulla. Mauris massa purus, maximus a
            sem sed, efficitur congue tellus. Nunc tincidunt suscipit pharetra. Pellentesque finibus
            nunc sed nisl auctor porta. Sed non semper ex. Cras eget metus odio. Donec pharetra egestas
            malesuada. Suspendisse vel maximus est. Nunc faucibus urna in faucibus congue. Sed ac quam
            bibendum, sodales est in, laoreet turpis. Nam sit amet mauris vel arcu vehicula suscipit.
            Ut malesuada, felis vitae laoreet rhoncus, dui nunc blandit erat, vitae ullamcorper nisl
            urna eu velit. Maecenas volutpat risus dui, nec pellentesque nulla porta a. Donec in nibh
            pretium, ultrices dolor et, tincidunt felis. Duis vestibulum odio id ipsum maximus, id
            varius massa pulvinar.
            <hr />
            <button class="btn_accordion" pButton type="button" (click)="goToCalendar()" label="Accedi al calendario"></button>
        </p-accordionTab>
    </p-accordion>
</div>