@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";

.main_content {
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
}
hr {
    height:0px;
    visibility: hidden;
}
.btn_accordion {
    font-size: 20px;
    float: right;
}
.header_content {
    text-align: center;
    font-size: 50px;
    color: blue;
    margin-top: 30px;
}